extends layout

block content
	div(class='container')
		h1(class='text-center') #{title}
		h3(class='text-center') Your favorite music, all in one mashup
		div(class='hero-unit text-center')
			form(id='upload')
				legend Can't find the song you want? Upload it!
				label Enter the location of the file you want to upload
				div(class="input-append")
					input(type="text", id="location", placeholder="File Directory")
					input(type='submit', class='btn', value='upload')
		include _songs