extends layout

block content
  div.audio
    p.currentAudio()
    audio(src="/media/codemonkey.mp3")

  div.chord(name=trackID)
    h2(class='text-center', id='song-title') Song Title
  | Welcome to Assemble.html

  #info  
    #bars  
    #beats  
    input#indexBox(type='text')
    button.addBar Add bar from Track 1
    button.addBeat Add beat from Track 1
    br
    button.playerStop Stop!

  script
    
    var dataset = {
      counts: [#{counts}]
    };

  script(src="/javascripts/ring.js")