extends layout

block content
  
  div.links(name=links)

  div.chord(name=ids)
      h5(id='song-title', class='text-center')|Loading Mashup...

  div.span8
  div.nowPlaying(name='none')
    div.songsTarget.audioMain
      h4 Mashup Songs

  script

    var dataset = {
      counts: [#{counts}]
    };

  script(src="/javascripts/remix.js")
  script(src='/javascripts/beats.js')
  script(src="/javascripts/ring.js")
  script(src='/javascripts/switch.js')