extends layout

block content

  div.chord(name=ids)
    h2(id='song-title', class='text-center')|Song Title

  script

    var dataset = {
      counts: [#{counts}]
    };

  script(src="/javascripts/remix.js")
  script(src='/javascripts/beats.js')
  script(src="/javascripts/ring.js")