body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.chord {
	text-align: center;
}

.inline-block {
	display: inline-block;
}

<<<<<<< HEAD
.image {

=======
#song-title {
	position: relative;
	top: 285px;
	min-width: 960px;
>>>>>>> 96136f5e38e3ce4b9eb53c2c6e254c6a59517d43
}